Nombre=nivel3
# CajaNNN=[Nombre],[Simbolo],[Instancias],[PosX],[PosY]
Caja1=[Bombas,B,2,9,5]
Caja2=[Telefonos,T,3,20,15]
Caja3=[Relojes,R,2,17,3]
Plataforma=127.0.0.1:4000
TiempoChequeoDeadlock=20000
Recovery=1
Enemigos=2
Sleep_Enemigos=2000
algoritmo=SRDF
quantum=5
retardo=10000 #ESTO SON MILISEGUNDOS
distancia=5
PATH_LOG=./nivel.log

# si es cero no grafica y loguea, si es 1 grafica sin loguear
graficar=1
crearLosEnemigos=1
activarInterbloqueo=1
