Nombre=nivel2
# CajaNNN=[Nombre],[Simbolo],[Instancias],[PosX],[PosY]
Caja1=[Chocolates,C,8,43,19]
Caja2=[Flores,F,5,19,15]
Plataforma=127.0.0.1:4000
TiempoChequeoDeadlock=10000
Recovery=0
Enemigos=6
Sleep_Enemigos=500
algoritmo=RR
quantum=3
retardo=10000 #ESTO SON MILISEGUNDOS
distancia=5
PATH_LOG=./nivel.log

# si es cero no grafica y loguea, si es 1 grafica sin loguear
graficar=1
crearLosEnemigos=1
activarInterbloqueo=1
